@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.dashboard{
    height:45.9rem;

    background-color:#EBF5FB;
    margin-bottom:0;
    padding:1rem 1rem 0 1rem;
}

.profile-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:2rem 0 2rem 2rem;
}

.profile-header h1{
    color:#000000;
    font-size: 24px;
    font-weight: bold;
}

.profile-header img{
    width: 24px;
    height: 24px;
    margin:0 1rem 0.5rem 0;
}

.userProfile{
    color:black
}

.main{
    margin:1rem;
}
.main .tableHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    
}
.tableHeader h1{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}


.evenCol{
    display: flex;
    flex-wrap: wrap;
}
.evenCol > *{
    flex:1 1 33%;
}
 .evenCol  > *:nth-child(1){
    flex:1 1 20%;
}

.evenCol  > *:nth-child(2){
    flex:1 1 70%;
}
.evenCol  > * :nth-child(3){
    flex:1 1 10%;
} 
.col{
    /* background-color: rgb(202, 155, 155);
    border: 2px solid darkgray; */
    padding:0;
}
.col img{
    width:48px;
    height: 48px;
}

.col h2{
    
    font-size: 14px;
    font-family: "poppins";
    font-weight:bolder;
    margin-bottom: 0;
    color:#000000;
}
.col p{
    font-size:10px;
    font-weight: 600;
    font-family: "poppins";
    color:#000000;
}
.input{
    padding:0.5rem 1rem;
    max-width:20rem;
}

.colItem{
    font-family: "poppins";
    font-weight:900;
    font-size:14px;
    color:#000000;
    /* text-align: left;
font: normal normal normal 16px/25px 'Poppins';
letter-spacing: 0px;
color: #000000;
opacity: 1; */

}
